@model LabCompras.Models.Despesa

@{
    ViewData["Title"] = "Despesa Confirmada";
}

<h1>@ViewData["Title"]</h1>

<p>Nome da Despesa: @Model.NomeDespesa </p>
<p>Quantidade: @Model.Quantidade</p>
<p>Valor: @Model.Valor</p>
<p>Categoria: @Model.Categoria</p>
<p>Pago?

    @if (Model.Pago)
    {
        @:Sim
    }
    else
    {
        @:Não
    }
</p>
<p><a asp-controller="Despesas" asp-action="Index">Voltar a Despesas</a></p>